@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: rgb(150, 209, 148);
  margin: 50px;
}

/* .background {
  width: 60vw;
  background-color: white;
  height: auto;
  width: 90%;
  max-width: 450px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
  text-align: center;
} */

